.task1 {
  background-color: #008000;
}

.task2 {
  background-image: url('/img/img-400x200.jpg');
}

.task3 {
  background-image: linear-gradient(to bottom,#ff0,#f00);
}

.task4 {
  background-image: radial-gradient(closest-side, #3f87a6, #ebf8e1, #f69d3c);
}

.task5 {
  background-image: conic-gradient(from 3.1416rad at 10% 50%, #e66465, #9198e5);
}

.task6 {
  background-image: url('/img/img-400x200.jpg');
  background-repeat: repeat-x;
}

.task7 {
  background-image: url('/img/img-400x200.jpg');
  background-repeat: repeat-y;
}

.task8 {
  background-image: url('/img/img-400x200.jpg');
  background-repeat: no-repeat;
}

.task9 {
  background-image: url('/img/img-400x200.jpg');
  background-repeat: space;
}

.task10 {
  background-image: url('/img/img-400x200.jpg');
  background-repeat: round;
}

.task11 {
  background-image: url('/img/img-400x200.jpg');
  background-attachment: scroll;
}

.task12 {
  background-image: url('/img/img-400x200.jpg');
  background-attachment: fixed;
}

.task13 {
  background-image: url('/img/img-400x200.jpg');
  background-attachment: local;
}

.task14 {
  background-image: url('/img/img-400x200.jpg');
  background-position: 50% 50%;
}

.task15 {
  background-image: url('/img/img-400x200.jpg');
  background-position: 50% 0;
}

.task16 {
  background-image: url('/img/img-400x200.jpg');
  background-position: 50% 100%;
}

.task17 {
  background-image: url('/img/img-400x200.jpg');
  background-position: 0 50%;
}

.task18 {
  background-image: url('/img/img-400x200.jpg');
  background-position: 100% 50%;
}

.task19 {
  background-image: url('/img/img-400x200.jpg');
  background-position: 100px 100px;
}

.task20 {
  background-image: url('/img/img-400x200.jpg');
  background-size: auto;
}

.task21 {
  background-image: url('/img/img-400x200.jpg');
  background-size: 600px;
}

.task22 {
  background-image: url('/img/img-400x200.jpg');
  background-size: 50%;
}

.task23 {
  background-image: url('/img/img-400x200.jpg');
  background-size: contain;
}

.task24 {
  background-image: url('/img/img-400x200.jpg');
  background-size: cover;
}

.task25 {
  border: 20px dashed black;
  background-image: url('/img/img-400x200.jpg');
  background-clip: border-box;
  box-sizing: border-box;
}

.task26 {
  background-image: url('/img/img-400x200.jpg');
  background-clip: padding-box;
  border: 20px dashed black;
  box-sizing: border-box;
}

.task27 {
  background-image: url('/img/img-400x200.jpg');
  -webkit-background-clip: text;
  font-size: 120px;
  font-weight: 900;
  color: transparent;
}

.task28 {
  background-image: url('/img/img-400x200.jpg');
  background-repeat: no-repeat;
  background-origin: border-box;
  box-sizing: border-box;
  border: 20px dashed black;
}

.task29 {
  background-image: url('/img/img-400x200.jpg');
  background-repeat: no-repeat;
  background-origin: padding-box;
  box-sizing: border-box;
  border: 20px dashed black;
  padding: 20px;
}

.task30 {
  background-image: url('/img/img-400x200.jpg');
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  border: 20px dashed black;
  font-size: 100px;
  font-weight: 900;
  padding: 60px;
}

.task31 {
  border: 40px solid;
  border-image: linear-gradient(blue,green) 27;
  box-sizing: border-box;
}

.task32 {
  border: 40px solid;
  border-image: radial-gradient(red 5%, green 15%, blue 60%) 27;
  box-sizing: border-box;
}

.task33 {
  border-image-source: url('/img/img-400x200.jpg');
  border-image-width: 40px;
  border-image-slice: 10;
  border-image-repeat: stretch;
  box-sizing: border-box;
}
