.flex .task1 {
}

.flex .task2 {
  display: flex;
}

.flex .task3 {
  display: flex;
}

.flex .task4 {
  display: flex;
}

.flex .task5 {
  display: flex;
}

.flex .task6 {
  display: flex;
}

.flex .task7 {
  display: flex;
}

.flex .task8 {
  display: flex;
}

.flex .task9 {
  display: flex;
}

.flex .task10 {
  display: flex;
}

.flex .task11 {
  display: flex;
}

.flex .task12 {
  display: flex;
}

.flex .task13 {
  display: flex;
}

.flex .task14 {
  display: flex;
}

.flex .task15 {
  display: flex;
}

.flex .task16 {
  display: flex;
}

.flex .task17 {
  display: flex;
}

.flex .task18 {
  display: flex;
}

.flex .task19 {
  display: flex;
}

.flex .task20 {
  display: flex;
}

.flex .task21 {
  display: flex;
}

.flex .task22 {
  display: flex;
}

.flex .task23 {
  display: flex;
}

.flex .task24 {
  display: flex;
}

.flex .task25 {
  display: flex;
}

.flex .task26 {
  display: flex;
}

.flex .task27 {
  display: flex;
}

.flex .task28 {
  display: flex;
}

.flex .task29 {
  display: flex;
}

.flex .task30 .item1 {
}

.flex .task31 .item2 {
}

.flex .task32 .item3 {
}

.flex .task33 .item4 {
}

.flex .task34 .item1 {
}

.flex .task35 .item2 {
}

.flex .task36 .item3 {
}

.flex .task37 .item4 {
}

.flex .task38 {
  display: flex;
}

.flex .task39 .item1 {
}
.flex .task39 .item3 {
}
