.transform .task1 {
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.transform .task1:hover {
    transform: rotate(270deg);
}

.transform .task2 {
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.transform .task2:hover {
    transform: rotateX(135deg);
}

.transform .task3 {
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.transform .task3:hover {
    transform: rotateY(45deg);
}

.transform .task4 {
}

.transform .task4:hover {
}

.transform .task5 {
}

.transform .task5:hover {
}

.transform .task6 {
}

.transform .task6:hover {
}

.transform .task7 {
}

.transform .task7:hover {
}

.transform .task8 {
}

.transform .task8:hover {
}

.transform .task9 {
}

.transform .task9:hover {
}

.transform .task10 {
}

.transform .task10:hover {
}

.transform .task11 {
}

.transform .task11:hover {
}

.transform .task12 {
}

.transform .task12:hover {
}

.transform .task13 {
}

.transform .task13:hover {
}

.transform .task14 {
}

.transform .task14:hover {
}

.transform .task15 {
}

.transform .task15:hover {
}

.transform .task16 {
}

.transform .task16:hover {
}
