.position .task1 .item {
}

.position .task2 .item {
}

.position .task3 .item {
}

.position .container4 {
}

.position .task4 {
  width: 1000px;
}
.position .task4 .item {
}

.position .task5 .item1 {
  background-color: red;
}
.position .task5 .item2 {
}
.position .task5 .item3 {
  background-color: green;
}

.position .task6 .item {
}

.position .task7 .item {
}

.position .task8 .item1 {
}
.position .task8 .item2 {
  height: 120px;
}

.position .task8 p {
}

.position .task9 .item1 {
  height: 200px;
}
.position .task9 .item2 {
}
.position .task9 p {
}

.position .task10 .item1 {
}
.position .task10 .item2 {
}
.position .task10 p {
}

.position .task11 .img-item {
  height: 100%;
  width: 100%;
}

.position .task12 .img-item {
  height: 100%;
  width: 100%;
}

.position .task13 .img-item {
  height: 100%;
  width: 100%;
}

.position .task14 .img-item {
  height: 100%;
  width: 100%;
}

.position .task15 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
}

.position .task16 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
}

.position .task17 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
}

.position .task18 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
}

.position .task19 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
}

.position .task20 {
}

.position .task21 {
}

.position .task22 {
}

html {
}
