.css-position .task1 .item {
  position: relative;
  left: 200px;
  top: 150px;
}

.css-position .task2 .item {
  position: absolute;
  top: calc(50% - 40px); 
  left: calc(50% - 40px);
}

.css-position .task3 .item {

}

.css-position .container4 {
}

.css-position .task4 {
  width: 1000px;
}
.css-position .task4 .item {
}

.css-position .task5 .item1 {
  background-color: red;
}
.css-position .task5 .item2 {
}
.css-position .task5 .item3 {
  background-color: green;
}

.css-position .task6 .item {
}

.css-position .task7 .item {
}

.css-position .task8 .item1 {
}
.css-position .task8 .item2 {
  height: 120px;
}

.css-position .task8 p {
}

.css-position .task9 .item1 {
  height: 200px;
}
.css-position .task9 .item2 {
}
.css-position .task9 p {
}

.css-position .task10 .item1 {
}
.css-position .task10 .item2 {
}
.css-position .task10 p {
}

.css-position .task11 .img-item {
  height: 100%;
  width: 100%;
}

.css-position .task12 .img-item {
  height: 100%;
  width: 100%;
}

.css-position .task13 .img-item {
  height: 100%;
  width: 100%;
}

.css-position .task14 .img-item {
  height: 100%;
  width: 100%;
}

.css-position .task15 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
}

.css-position .task16 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
}

.css-position .task17 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
}

.css-position .task18 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
}

.css-position .task19 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
}

.css-position .task20 {
}

.css-position .task21 {
}

.css-position .task22 {
}

html {
}
