<ul class="nav nav-pills">
  <li class="nav-item">
    {{> link href="/css-train-background" text="css-train-background" line=true }}
  </li>
  <li class="nav-item">
    {{> link href="/css-train-position" text="css-train-position" line=true }}
  </li>
  <li class="nav-item">
    {{> link href="/css-train-flex" text="css-train-flex" line=true }}
  </li>
  <li class="nav-item">
    {{> link href="/css-train-transform" text="css-train-transform" line=true }}
  </li>
</ul>