<ul class="nav nav-pills">
  <li class="nav-item">
    {{> link href="/css-train-background" text="css-train-background" line=true }}
  </li>
  <li class="nav-item">
    {{> link href="/css-train-grid" text="css-train-grid" line=true }}
  </li>
  <li class="nav-item">
    {{> link href="/css-train-flex" text="css-train-flex" line=true }}
  </li>
</ul>