<ul class="nav nav-pills">
  <li class="nav-item">
    {{> link href="/css-train-background" text="css-train-background" line=true }}
  </li>
  <li class="nav-item">
    {{> link href="/education" text="Education" line=true }}
  </li>
  <li class="nav-item">
    {{> link href="/skills" text="Skills" line=true }}
  </li>
  <li class="nav-item">
    {{> link href="/works" text="Works" line=true }} 
   </li>
  <li class="nav-item">
    {{> link href="/person" text="Abstract summary" line=true }} 
   </li>
</ul>